@model Insureity_Portal.Models.LoginDetails

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="~/Images/policy.jpg" />
        </div>
        <div class="col-md-4 align-self-center">
            <div class="login-form">
                <form asp-action="Login" method="post">
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>

                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>

                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
